.App {
  background-color: white;
}

.App-header {
  display: block;
  margin-top: 30;
  padding: 0;
  width: 100%;
}

.add-link {
  text-decoration: none;
  color: white
}

.read-post-link {
  text-decoration: none;
  color: black;
}

.header-title {
  flex: 1;
}

.header-add {
  margin-right: 10px;
}

.navigation-list {
  width: 250px;
  flex: initial;
}

.card {
  margin-top: 12px;
  min-width: 275px;
  background-color: grey;
}

.modal {
  position: absolute;
  top: 40px;
  left: 200px;
  right: 200px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 500px;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.button {
  margin-top: 8px;
  display: block;
}

.box {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}

.header {
  padding: 10px;
  font-size: 14px;
  line-height: 120%;
  text-align: left;
  border-bottom: 1px solid #e2e2e2;
  overflow: auto;
}

h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  margin: 0 0 0 0;
  padding: 0px;
}

.user {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  padding-bottom: 0px;
  display: block;
  word-wrap: break-word;
}

.text {
  line-height: 20px;
  padding: 0 0;
  font-size: 14px;
  text-shadow: none;
  overflow: hidden;
  word-wrap: break-word;
}

.info {
  color: #99a2aa;
  line-height: 26px;
  font-size: 12px;
}

span {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

.floor {
  margin-right: 20px;
}

.score {
  margin-left: 20px;
}

.editPost {
  margin-left: 20px;
}

.textarea-container {
  position: relative;
  margin-left: 2px;
  margin-right: 100px;
  margin-top: 8px;
}

textarea {
  font-size: 12px;
  display: inline-block;
  box-sizing: border-box;
  background-color: #f4f5f7;
  border: 1px solid #e5e9ef;
  overflow: auto;
  margin-top: 4px;
  border-radius: 4px;
  color: #555;
  width: 100%;
  height: 65px;
  transition: 0s;
  padding: 5px 10px;
  line-height: normal;
}

.input-author {
  font-size: 12px;
  display: inline-block;
  box-sizing: border-box;
  background-color: #f4f5f7;
  border: 1px solid #e5e9ef;
  overflow: auto;
  border-radius: 4px;
  color: #555;
  width: 100%;
  height: 20px;
  transition: 0s;
  padding: 5px 10px;
  line-height: normal;
}

.comment-submit {
  width: 70px;
  height: 64px;
  position: absolute;
  right: -80px;
  top: 0;
  padding: 4px 15px;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  min-width: 60px;
  vertical-align: top;
  cursor: pointer;
  background-color: #00a1d6;
  border: 1px solid #00a1d6;
  transition: .1s;
  user-select: none;
  outline: none;
}

.edit-comment-submit {
  width: 120px;
  height: 24px;
  margin-top: 10;
  padding: 4px 15px;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  min-width: 60px;
  vertical-align: top;
  cursor: pointer;
  background-color: #00a1d6;
  border: 1px solid #00a1d6;
  transition: .1s;
  user-select: none;
  outline: none;
}

.category-select {
  margin-top: 4px;
}


.App-header {
  background-color: #ff6600;
  height: 16px;
  line-height: 16px;
  padding: 20px;
  display:flex;
  align-items: center;
}

.float-button {
  margin: 20px;
  display: flex;
}

.pagetop {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: rgb(34, 34, 34);
}

.gankname {
    margin-right: 5px;
}

strong, b {
    font-weight: bold;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
}

.gank-list {
  margin-bottom: 0px;
  padding: 0;
  background-color: #f6f6ef;
}

.gank-list-item {
  padding-top: 8px;
  display: flex;
}

@media (min-width: 600px) {
  .gank-list-item {
    margin: 0px;
  }
}

.gank-details {
  padding-left: 20px;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gank-details p {
  margin: 0;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 8pt;
  color: rgb(130, 130, 130);
  margin-left: 2px;
}

.item-index {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: rgb(130, 130, 130);
}

.post-title {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12pt;
  color: black;
}

.active-link {
  color: white;
}

.topsel a:link, .topsel a:visited .header-link:visited .header-link:link {
    color: rgb(255, 255, 255);
}

.pagetop a:visited {
    color: rgb(0, 0, 0);
}

a:visited {
    color: rgb(130, 130, 130);
    text-decoration: none;
}

a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.add-post {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.add-post a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ff6600;
  background-image: url('../icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}
