.App {
  background-color: white;
}

.App-header {
  display: block;
  margin-top: 30;
  padding: 0;
  width: 100%;
}

.add-link {
  text-decoration: none;
  color: white
}

.read-post-link {
  text-decoration: none;
  color: black;
}

.header-title {
  flex: 1;
}

.header-add {
  margin-right: 10px;
}

.navigation-list {
  width: 250px;
  flex: initial;
}

.card {
  margin-top: 12px;
  min-width: 275px;
  background-color: grey;
}

.modal {
  position: absolute;
  top: 40px;
  left: 200px;
  right: 200px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 500px;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.button {
  margin: 10;
  align-content: center;
}