.App {
  background-color: white;
}

.App-header {
  display: block;
  margin-top: 30;
  padding: 0;
  width: 100%;
}

.add-link {
  text-decoration: none;
  color: white
}

.read-post-link {
  text-decoration: none;
  color: black;
}

.header-title {
  flex: 1;
}

.header-add {
  margin-right: 10px;
}

.navigation-list {
  width: 250px;
  flex: initial;
}

.card {
  margin-top: 12px;
  min-width: 275px;
  background-color: grey;
}

.modal {
  position: absolute;
  top: 40px;
  left: 200px;
  right: 200px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 500px;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.button {
  margin: 10;
  align-content: center;
  margin-top: 8px;
}

.box {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}

.header {
  padding: 10px;
  font-size: 14px;
  line-height: 120%;
  text-align: left;
  border-bottom: 1px solid #e2e2e2;
  overflow: auto;
}

h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  margin: 0 0 0 0;
  padding: 0px;
}

.user {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  padding-bottom: 0px;
  display: block;
  word-wrap: break-word;
}

.text {
  line-height: 20px;
  padding: 0 0;
  font-size: 14px;
  text-shadow: none;
  overflow: hidden;
  word-wrap: break-word;
}

.info {
  color: #99a2aa;
  line-height: 26px;
  font-size: 12px;
}

span {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

.floor {
  margin-right: 20px;
}

.score {
  margin-left: 20px;
}

.editPost {
  margin-left: 20px;
}

.textarea-container {
  position: relative;
  margin-left: 85px;
  margin-right: 80px;
  margin-top: 8px;
}

textarea {
  font-size: 12px;
  display: inline-block;
  box-sizing: border-box;
  background-color: #f4f5f7;
  border: 1px solid #e5e9ef;
  overflow: auto;
  margin-top: 4px;
  border-radius: 4px;
  color: #555;
  width: 100%;
  height: 65px;
  transition: 0s;
  padding: 5px 10px;
  line-height: normal;
}

.input-author {
  font-size: 12px;
  display: inline-block;
  box-sizing: border-box;
  background-color: #f4f5f7;
  border: 1px solid #e5e9ef;
  overflow: auto;
  border-radius: 4px;
  color: #555;
  width: 100%;
  height: 20px;
  transition: 0s;
  padding: 5px 10px;
  line-height: normal;
}

.comment-submit {
  width: 70px;
  height: 64px;
  position: absolute;
  right: -80px;
  top: 0;
  padding: 4px 15px;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  min-width: 60px;
  vertical-align: top;
  cursor: pointer;
  background-color: #00a1d6;
  border: 1px solid #00a1d6;
  transition: .1s;
  user-select: none;
  outline: none;
}

.category-select {
  margin-top: 4px;
}